/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: rgb(209, 208, 206);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
    cursor: pointer;
}
/* END OF CSS RESET*/

header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper {
    width: min(75em, 100% - 2em);
    margin-inline: auto;
}

.menu {
    display: none;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: #756f6f;
}
/* header .wrapper h1 {
    font-size: clamp(1.4rem, 4vw, 4rem);
} */
header .wrapper h1 span {
    color: rgb(127, 104, 231);
}

header .wrapper nav {
    /* background-color: aqua; */
    display: flex;
    gap: 1.2rem;
}

header .wrapper .log-reg-btns {
    display: flex;
    gap: 1.2rem;
}

.btn {
    padding: .25em 1.5em;
    border-radius: 100em;
    font-size: .875em;
    font-weight: 700;
    border: none;
}

.btn-primary {
    background-color: #0D38F8;
    color: #FFFFFF;
}

.btn-secondary {
    background: none;
    border: 1px solid #000000;
}

.active {
    font-weight: 700;
    color: #505670;
}
img {
    width: 100%;
}
/* HERO SECTION */
.hero {
    margin-top: 5rem;
    height: 70vh;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0; /* covers entire container */
    background: rgba(0, 0, 0, 0.7);
}
.hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero .hero-content h2 { 
    color: white;
    text-align: center;
    font-size: clamp(1.4rem, 4vw, 4rem)
}

.hero .hero-content h2 span {
    color: #5b73df;
}
.hero .hero-content p {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.hero img {
    height: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
    mix-blend-mode: color-burn;
}
/* ABOUT SECTION */
.about h2 {
    text-align: center;
}

.about p {
    text-align: center;
    color: rgb(78, 69, 69);
}

.about p span{
    color: #071657;
}
/* EXECUTIVE BOARD */
.center-text {
    text-align: center;
}
.executive-board-container {
    margin-top: 5rem;
}
.executive-board-container h2 {
    background-color: #04AA6D;
}
.profile-card {
    width: 200px;
    height: 200px;
    background-color: #000000;
    overflow: hidden;
}

.profile-card .profile-image {
    width: 100%;
    height: 50%;
}

.profile-card .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTACT FORM */
.contact-form {
    margin-bottom: 2rem;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
@media (max-width: 1000px) {

    header .wrapper nav, header .wrapper .log-reg-btns {
        display: none;
    }

    .menu {
        display: block;
    }

    .content .nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .content {
        display: flex;
        justify-content: space-around;
    }

    .hero .hero-content p {
        font-size: 1rem;
    }
}