/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
    background-color: rgb(209, 208, 206);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font: inherit;
    cursor: pointer;
}
/* END OF CSS RESET*/
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper {
    width: min(75em, 100% - 2em);
    margin-inline: auto;
}

.menu {
    display: none;
}

header .wrapper h1 {
    font-size: 2em;
}
header .wrapper h1 span {
    color: rgb(127, 104, 231);
}

header .wrapper nav {
    /* background-color: aqua; */
    display: flex;
    gap: 1.2rem;
}

header .wrapper .log-reg-btns {
    display: flex;
    gap: 1.2rem;
}

.btn {
    padding: .25em 1.5em;
    border-radius: 100em;
    font-size: .875em;
    font-weight: 700;
    border: none;
}

.btn-primary {
    background-color: #0D38F8;
    color: #FFFFFF;
}

.btn-secondary {
    background: none;
    border: 1px solid #000000;
}

.active {
    font-weight: 700;
    color: #0D38F8;
}
img {
    width: 100%;
}
/* HERO SECTION */
.hero {
    height: 40vh;
    position: relative;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0; /* covers entire container */
    background: rgba(0, 0, 0, 0.4);
}
.hero .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero .hero-content p {
    color: white;
    font-size: 1.2em;
}
.hero img {
    height: 100%;
    object-fit: fill;
}
@media (max-width: 1000px) {

    header .wrapper nav, header .wrapper .log-reg-btns {
        display: none;
    }

    .menu {
        display: block;
    }

    .content .nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .content {
        display: flex;
        justify-content: space-around;
    }
}